{{ attach_library('webpack-minimal/entity-card') }}

{% set config = [
    'entity',
    'entity-card',
  ] %}

<div{{ attributes.setAttribute('class',config) }}>

  {{ image }}<br>
  {{ heading }}<br>
  {{ link }}<br>
  {{ text }}<br>

  <div class="local"></div>

  <div class="shared"></div>

</div>
